@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #222;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;

}


header ul.nav {
  margin-top: 20px;
  list-style: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  color: rgb(255, 255, 255);
  cursor: pointer;

}

.faq-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.answer {
  display: none;
  margin-top: 10px;
}

.toggle-icon {
  font-size: 20px;
  cursor: pointer;
}

.toggle-icon.open {
  transform: rotate(180deg);
}

.PAA {
  max-width: 1280px;
  margin: 0 auto;
  /* Центрирование блока по горизонтали */
  padding: 20px;
  /* Пример: добавление внутреннего отступа */
}

header ul.nav li:hover {
  opacity: 0.5;
}

header {
  background-color: #222;
  height: 100px;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

header .logo {
  color: rgb(255, 255, 255);
  border-radius: 30px;

  font-weight: 600;
  font-size: 80px;
  cursor: pointer;
  background: linear-gradient(to right, #feffff, #1c1e22);
  -webkit-background-clip: text;
  color: transparent;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/*template*/
html,
body {
  background: rgb(255, 255, 255);
  overscroll-behavior: none;
  font-family: "Inter";
}

.banner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 230px;
  width: 1280px;
  height: 500px;
  border-radius: 30px;
  background: rgb(46, 46, 90);
  outline: #222;
  border: #222;
  padding: 4em;
  opacity: 0.75;

}

.banner h1 {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 60%;
  background: linear-gradient(to top, #e1dcdc 0%, #ffffff) 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 80px;
  letter-spacing: -0.05em;
  line-height: 1;
}

button {
  margin: 3em 0;
  padding: 1em 1.5em;
  color: #fff;
  font-size: 27px;
  border: 1px solid rgba(149, 99, 255, 0.5);
  outline: none;
  border-radius: 0.75em;
  backdrop-filter: blur(20px);
  cursor: pointer;
  background: linear-gradient(180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}